
body{
text-align: center;
margin-top: 25px;
margin-bottom: 25px;
margin-left: 25px;
margin-right: 25px;
font-size: 20px;
}

 .navbar {
padding: 25px;
border-width: 15px;
border-style: solid;
border-color: #336df0;
 }

form {
padding: 15px;
margin-top: 25px;
margin-bottom: 25px;
margin-left: 100px;
margin-right: 100px;
border-width: 5px;
border-style: solid;
border-color: #336df0;
}

.navbar {
background-color: black;
}

a {
color: #ffff;
}

h1 {
padding: 15px;
}

.btn-success {
float: right;
}