{% extends "crm/base.html" %}
{% load static %}
{%block title%} CRM - lista klientów {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
      <table class="table table-dark table-striped">
          <tr>
              <th>Nazwa</th>
              <th>NIP</th>
              <th>Osoba Kontaktowa</th>
              <th>Numer telefonu</th>
              <th>E-mail</th>
              <th>VIP</th>
              <th>Informacje</th>
          </tr>
          <tr>
          {% for client in clients %}
              <td> {{ client.name }} </td>
              <td>  {{ client.vat_number }} </td>
              <td>  {{ client.contact_person }} </td>
              <td> {{ client.phone_number }} </td>
              <td> {{ client.e_mail }} </td>
              <td> {% if client.vip %}
                        <img src="{% static 'images/success.svg' %}", width="25" height="25">
                   {% endif %}
              </td>
              <td><a href="{% url 'crm:client_details' client.id %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Szczegóły</a></td>
          </tr>
          {% endfor %}
      </table>
    </div>
</div>
{% endblock %}