{% extends "crm/base.html" %}
{%block title%} CRM - Informacje o kliencie {{ client.name }} {% endblock %}

{% block content %}

<h1> {{ client.name }} </h1>
<p>Numer telefonu: {{ client.phone_number }} E-mail: {{ client.e_mail }}</p>

<div class="row">
    <div class="col-md-6">
        <table class="table table-dark table-striped">
            <a href="{% url 'crm:phone_call' client.id %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Dodaj Rozmowę</a>
            <p></p>
            <tr><th>ROZMOWY:</th></tr>
        </table>

{% for phone_call in phone_calls %}

         <table class="table table-dark table-striped">
             <tr><th>{{ phone_call.date|date:'d M Y H:i'  }}</th></tr>
             <tr><td>{{ phone_call.comment|linebreaks }}</td></tr>
         </table>

{% endfor %}

    </div>

    <div class="col-6">
        <table class="table table-dark table-striped">
            <a href="{% url 'crm:new_task' client.id %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Dodaj zadanie</a>
            <p></p>
            <tr><th>ZADANIA:</th></tr>
        </table>

{% for task in tasks %}

        <table class="table table-dark table-striped">
             <tr><th>{{ task.type  }}  /  {{ task.status  }}  /  {{ task.date|date:'d M Y H:i'  }} <a href="{% url 'crm:task_progress' task.id %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Szczegóły</button></th></tr>
             <tr><td>{{ task.comments|linebreaks }}</td></tr>
         </table>

{% endfor %}

    </div>
</div>

{% endblock content %}