{% load static %}

<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="/">Strona główna</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Klienci</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'crm:clients' %}">Lista klientów</a>
          <a class="dropdown-item" href="{% url 'crm:add_client' %}">Dodaj nowego Klienta</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'crm:clients' %}">Lista klientów</a>
          <a class="dropdown-item" href="{% url 'crm:add_client' %}">Dodaj nowego Klienta</a>
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Zadania</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'crm:clients' %}">Nowe</a>
          <a class="dropdown-item" href="{% url 'crm:add_client' %}">W trakcie</a>
          <a class="dropdown-item" href="{% url 'crm:add_client' %}">Zakończone</a>
          <a class="dropdown-item" href="{% url 'crm:add_client' %}">Wszystkie</a>
    </ul>
  </div>
</nav>