{% extends "crm/base.html" %}
{%block title%} CRM - Lista nowych zadań {% endblock %}

{% block content %}

<table class="table table-dark table-striped">
          <tr>
              <th>Typ</th>
              <th>Klient</th>
              <th>Nazwa</th>
              <th>Data</th>
              <th>Status</th>
          </tr>
          <tr>
          {% for task in all_tasks %}
            {% if task.status == 'Nowe' %}
              <td> {{ task.type }} </td>
              <td> {{ task.client }} </td>
              <td> {{ task.name }} </td>
              <td> {{ task.date }} </td>
              <td> {{ task.status }} </td>
            {% endif %}
          </tr>
          {% endfor %}
    </table>


{% endblock content %}