{% extends "crm/base.html" %}
{% load static %}
{%block title%} CRM - Postęp zadania {% endblock %}

{% block content %}

<h1>{{ task.client }} - {{ task.name }} - {{ task.status }}</h1>
<p></p>
<a href="{% url 'crm:update_task_status' task.id %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Zmień status</a>
<p></p>
<table class="table table-dark table-striped">
          <tr>
              <th>Informacja</th>
              <th>Data</th>
          </tr>
          <tr>
          {% for n in progress %}
              <td> {{ n.progress_information }} </td>
              <td> {{ n.date }} </td>
          </tr>
          {% endfor %}
    </table>

<form method="POST" novalidate>
    {% csrf_token %}
    {{ form }}
<button class="btn btn-primary" type="submit">Zapisz</button>

{% endblock content %}